<aside
  id="sidebar"
  class="bg-gray-900 text-white transition-transform duration-300 ease-in-out fixed top-0 left-0 w-64 h-full -translate-x-full hidden md:translate-x-0 md:block"
>
  <div class="flex flex-col h-full">
    <div class="flex-1 overflow-y-auto">
      <nav class="mt-4">
        <a
          href="#view=most-recent-videos"
          class="flex items-center py-2 px-4 hover:bg-gray-800"
        >
          <img
            src="assets/svg/home-icon.svg"
            alt="Home"
            class="w-6 h-6 mr-3 flex-shrink-0"
          />
          <span class="sidebar-text">Home</span>
        </a>
        <a
          href="#view=explore"
          class="flex items-center py-2 px-4 hover:bg-gray-800"
        >
          <img
            src="assets/svg/explore-icon.svg"
            alt="Explore"
            class="w-6 h-6 mr-3 flex-shrink-0"
          />
          <span class="sidebar-text">Explore</span>
        </a>
        <a
          href="#view=subscriptions"
          class="flex items-center py-2 px-4 hover:bg-gray-800"
        >
          <img
            src="assets/svg/subscriptions-icon.svg"
            alt="Subscriptions"
            class="w-6 h-6 mr-3 flex-shrink-0"
          />
          <span class="sidebar-text">Subscriptions</span>
        </a>
      </nav>
    </div>
    <div class="mt-auto">
      <hr class="border-gray-700" />
      <div class="p-4">
        <nav class="space-y-2">
          <a
            href="about.html"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/about-icon.svg"
              target="_blank"
              alt="About"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">About</span>
          </a>
          <a
            href="community-guidelines.html"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/guidelines-icon.svg"
              target="_blank"
              alt="Guidelines"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Guidelines</span>
          </a>
          <a
            href="getting-started.html"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/getting-started-icon.svg"
              target="_blank"
              alt="Getting Started"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Getting Started</span>
          </a>
          <a
            href="https://habla.news/p/nprofile1qyv8wumn8ghj7un9d3shjtnndehhyapwwdhkx6tpdsq3gamnwvaz7tmjv4kxz7fwv3sk6atn9e5k7qgdwaehxw309ahx7uewd3hkcqgswaehxw309ahx7um5wgh8w6twv5q3yamnwvaz7tm0venxx6rpd9hzuur4vgqzpzf6x8a95eyp99dmwm4zmkx4a3cxgrnwdtfe3ej504m3aqjk4ugldyww3a"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/blog-icon.svg"
              alt="Blog"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Blog</span>
          </a>
          <a
            href="https://primal.net/p/npub13yarr7j6vjqjjkahd63dmr27curypehx45ucue286ac7sft27y0srnpmpe"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/nostr-icon.svg"
              alt="Nostr"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Nostr</span>
          </a>
          <a
            href="roadmap.html"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/roadmap-icon.svg"
              target="_blank"
              alt="Roadmap"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Roadmap</span>
          </a>
          <a
            href="https://github.com/PR0M3TH3AN/bitvid"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/github-icon.svg"
              alt="GitHub"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">GitHub</span>
          </a>
          <a
            href="torrent/beacon.html"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/beacon-icon.svg"
              alt="βeacon"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">βeacon</span>
          </a>
          <a
            href="https://beta.bitvid.network/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/beta-icon.svg"
              alt="Beta"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">Beta</span>
          </a>
          <a
            href="ipns.html"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img
              src="assets/svg/ipns-icon.svg"
              alt="IPNS"
              class="w-5 h-5 mr-3"
            />
            <span class="sidebar-text">IPNS</span>
          </a>
          <a
            href="https://bitvid.network/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center hover:bg-gray-800 px-4 py-2 rounded"
          >
            <img src="assets/svg/dns-icon.svg" alt="DNS" class="w-5 h-5 mr-3" />
            <span class="sidebar-text">DNS</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</aside>
